form{
    text-align: center;
    background: #91e3ee;
}

button {
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
}

.point {cursor: pointer;}

button {
    background-color: #ffffff; color: rgb(0, 0, 0);
    width: 100px;
    border-radius: 4px;
}

button:hover {
    background-color: #4CAF50; 
    color: white;
}