/*h1,h2,h3{
    margin:0;
    padding:0;
}*/

body {
    background: #4ae;
    color:#000040
}

h1,h2, #stopka{
    background:#000040;
    color:#8080ff;
    text-align:center;
}

#menu{
    background:#ffffff;
}

#tresc{
    background:#88edff;
}