/* ustawienia dla całej tabeli: */
table {
    background:#ffffb3;
    text-align:center;
    width:94%;
    margin:2%;
    border:1pt solid #000040;
}
    /*ustawienie tytułu tabeli:*/
caption {
    font-size:150%
}
    /*formatowanie części nagłowkowej i stopki tabeli: */
tfoot, thead {
    background:#0000a0;
    color:#ffffff;
    font-size:120%
}